@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.addBoard-wrapper {
  opacity: 0;
  animation: smoothAppear 1s forwards;
  animation-delay: 0.5s;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  display: flex;
  margin-top: 3rem;
  justify-content : center;

  .addBoard-header{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    color: black;
    width: 50rem;
  }
  .submitButton{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;

    button{
      width: 30rem;


    }
    .disable-button{
      font-size: 1.1rem;
      cursor: not-allowed;
      width: 30rem;

    }
    .success-button{
      font-size: 1.1rem;
      width: 30rem;

    }
  }
  .addBoard-body {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

  }
}
