.textArea-wrapper {
  display: flex;
  flex-direction: column;
  margin : 0 0 3rem 0;

  .title {
    margin-bottom: 0.7rem;
  }
  .text {
    margin-bottom: 0.7rem;
  }

  select{
    width: 20rem;
    height: 2.5rem;
  }

  input{
    width: 20rem;
    height: 2.5rem;
  }

  textarea{
    width: 40rem;
    height: 30rem;
  }

  input, textarea {
    margin-bottom: 0.7rem;


    &::-webkit-scrollbar {
      display: none;
    }

    resize: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
    transition: border 1s;
    padding: 5px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 3px solid skyblue;
    }
  }
}
